<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="30101">
		<setting id="source" label="30101" type="labelenum" default="m-TVGuide" values="XMLTV|m-TVGuide" />

		<setting id="xmltv.file" label="30103" type="file" visible="eq(-1,0)" />
        <setting id="xmltv.logo.folder" label="30116" type="folder" visible="eq(-2,0)"/>
        <setting id="m-TVGuide" label="30117" type="labelenum" visible="eq(-3,1)" values="http://szetela.eu/epg/guide.xml|http://mods-xbmc.pl/epg/POLSKA.xml|"/>
    </category>

    <category label="30114">
        <setting id="cache.data.on.xbmc.startup" label="30110" type="bool" default="false" />
        <setting id="enable.osd" label="30118" type="bool" default="true" enable="eq(2,false)" />
        <setting label="30119" type="lsep" />
        <setting id="alternative.playback" label="30120" type="bool" default="true" />
        <setting label="30121" type="lsep" />
    </category>

    <category label="30112">
        <setting id="notifications.enabled" label="30106" type="bool" default="true" />
        <setting label="30108" type="action" action="RunScript($CWD/notification.py)" />
    </category>
	<category label="Kolory" >
		<setting label="Kolory kategorii" type="lsep" />
        <setting id="kolor.Filmy" label="Filmy" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.Seriale" label="Seriale" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.Informacja" label="Informacja" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.Rozrywka" label="Rozrywka" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.Dokument" label="Dokument" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.Dladzieci" label="Dla dzieci" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.Sport" label="Sport" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.InteraktywnyProgramRozrywkowy" label="Interaktywny Program Rozrywkowy" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		
		<setting label="Podstawowe kolory" type="lsep" />
		<setting id="kolor.default" label="Podstawowy kolor" type="labelenum" values="default|czerwony|zielony|zolty|purpurowy|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>
		<setting id="kolor.defaultfocus" label="Kolor aktywnego podœwietlenia" type="labelenum" values="default-focus|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>

		<setting id="kolor.notification" label="Kolor dla przypomnienia" type="labelenum" values="default-przypomnienie|czerwony|zielony|zolty|purpurowy|niebieski|pomaranczowy|fioletowy|seledynowy|czarny|"/>


    </category>
	<category label="30901" >
        <setting label="30902" type="action" action="UpdateAddonRepos" />
    </category>
</settings>

